PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/sunity-web
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
ADMIN_SUCCESS_REDIRECT_PATH=/admin/dashboard
ADMIN_FAILURE_REDIRECT_PATH=/admin/login
