PORT=3000
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/sunity-web
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=
FRONTEND_URLS=http://localhost:5173,https://sunity.sayyidrafee.com,https://sunity-web.vercel.app
BETTER_AUTH_EXTRA_TRUSTED_ORIGINS=https://api-sunity.vercel.app,https://api-sunity.sayyidrafee.com,https://sunity-api.sayyidrafeed.workers.dev
FRONTEND_URL=https://sunity-web.vercel.app
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
